<div class="wrapper">
  <div #scrollMe id="message-chat">
    <h3 class='sticky'>
      <span class='main-user'>{{mainUser}}</span> to
      <span class='contact'>{{currentUser}}</span>
    </h3>
    <hr>
    <div *ngFor="let m of msg_arr"
    [ngClass]="m.author.username === mainUser ? 'main-user message' : 'contact message'">
      <span class='author'>{{m.author.username}}: </span>
      <span class='content'>{{m.content}}</span>
    </div>
  </div>

  <div id="message-bar">
      <form [formGroup]="messageForm" class="form-group"
      (ngSubmit)="onSend()">
        <input class="form-control" id="send-message" formControlName="message" autocomplete="off">
        <button class="btn btn-primary"
        [disabled]="!(!(this.messageForm.invalid)&&(currentUser!=='none'))" type="submit">Send
          <i class="fas fa-envelope"></i>
        </button>
    </form>
  </div>

</div>
