<div class="wrapper" >

<button class='btn btn-info btn-rooms' (click)='toggleRooms()'>{{tag_btn}}</button>
<span class='custom_alert'>
  <span *ngIf="show_msg">{{msg}}</span>&nbsp;
</span>

  <div *ngIf="roomFlag"  id="addContact-bar">
      <form [formGroup]="contactForm" class="form-group"
      (ngSubmit)="onAdd()">
        <input class="form-control" id="send-message" formControlName="contact">
        <button class="btn btn-primary" type="submit">Add
            <i class="fas fa-user-plus"></i>
        </button>
    </form>
  </div>

    <div *ngIf="roomFlag" id="contact-list" >
    <h3 class='title-list'>Contacts <i class="fas fa-user-friends"></i></h3>

    <div class="overflow_container">
        <div *ngFor="let c of contactlist" class='btns-box'>
            <button (click)='onClick(c)'  [ngClass]="c.online ? 'btn btn-primary contact-box' : 'btn btn-basic contact-box'" >
                <i class="fas fa-user"></i><span>{{c.username}}</span>
                <i *ngIf='checkSeen(c)' class="far fa-envelope"></i>
            </button>
            <button class="btn btn-danger delete-btn" (click)='onDelete(c)'>
               <i class="fas fa-user-times"></i><span></span>
            </button>
        </div>
    </div>


  </div>

  <!-- Room flag false -->
    <div *ngIf="!roomFlag"  id="addContact-bar">
        <form [formGroup]="roomForm" class="form-group"
            (ngSubmit)="onAddRoom()">
        <input class="form-control" id="new-room" formControlName="room">
        <button [disabled]="!roomForm.valid" class="btn btn-primary" type="submit">New
            <i class="fas fa-plus-circle"></i>
        </button>
        </form>
    </div>

    <div *ngIf="!roomFlag"  id="addContact-bar">
        <form [formGroup]="inviteForm" class="form-group"
            (ngSubmit)="onInviteRoom()">
        <select class="form-control" formControlName="toRoom">
            <option *ngFor="let s of list_rooms" [value]="s._id">{{s.room}}</option>
        </select>
        <select class="form-control" formControlName="invite">
            <option *ngFor="let c of contactlist" [value]="c.username">{{c.username}}</option>
        </select>
        <hr>
        <button [disabled]="!inviteForm.valid" class="btn btn-primary" type="submit">Add
            <i class="fas fa-user-plus"></i>
        </button>
        </form>
    </div>

    <div *ngIf="!roomFlag" id="room-list">
        <h3 class='title-list'>Rooms <i class="fas fa-comments"></i></h3>
    <div>

    <div>
    <div *ngFor="let r of list_rooms" class='btns-box'>
        <button (click)='onRoom(r)' class='btn btn-primary contact-box' >
            <span>{{r.room}}</span>
            <i *ngIf='checkSeenRoom(r)' class="far fa-envelope"></i>
        </button>
        <button (click)='onLeaveRoom(r)' class="btn btn-danger delete-btn">
          Leave
        </button>
    </div>
    </div>
</div>
