.box{
  text-align: center;
  /* border: 2px solid black; */
  padding: 3%;
  margin-top: 2%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-login{
  width: 100%;
  margin-top: 2%;
}

.alert{
  color: red;
}

.logo{
  font-size: 2rem;
  color: #007bff;
}

.logo i{
  font-size: 3rem;
  color: #007bff;
}

.language{
  margin-top: -50px;
  float: right;
  /* color: #007bff; */
}
@media only screen and (max-width: 600px) {
  .language{
    float: none;
    margin-top: 0;
  }
}
.language i {
  font-size: 1.8rem;
}
.language option{
  font-size: 0.8rem;
}
